<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Emotion API Node js</title>
</head>
<body>
    <form id="frmUploadImage">
        <input type="file" name="file" id="inputImage">
        <button type="submit" class="btn btn-default">Cargar foto</button>
    </form>

    <canvas id="canvasLoadImage"></canvas>

    <script src="/public/vendor/jquery/dist/jquery.js"></script>
    <script src="/public/js/app.js"></script>

</body>
</html>
